*.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
  max-width: 95%;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 18px 0;
  margin-left: auto;
  margin-right: auto;
}
